.footer {
  background-color: var(--hero-footer-dg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.container-footer-address {
  width: 231px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--secondary-text-color);
}
.footer-link-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.container-footer-social {
  width: 206px;
  margin-left: 70px;
}

.footer-text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
