.header-contacts.list {
  display: flex;
  margin-left: auto;
}

.header-contacts-item {
  color: var(--primery-text-color);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.header-contacts.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-icon-link {
  fill: currentColor;
  margin-right: 10px;
}
